params {
    kraken2_db="$VP_DB/kraken2-bunyavirales"

    threads=12

    kraken2_confidence_threshold=0.1
}

process {
    withName:kraken2_pair {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2_single {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2krona {
        container = 'skkujin/krakentools:v1.2'
    }

    withName:kreport2list {
        container = 'skkujin/convert_krakenrep2list:latest'
    }

    withName:metacomp {
        container = 'skkujin/metacomp:latest'
    }
    
    withName:krona {
        container = 'nanozoo/krona:latest'
    }
}

docker {
    enabled = true
}