params {
    threads=12

    blast_db_dir="$VP_DB/blast"
    blast_db_name="refseq-bunyavirales"
    min_evalue='1.0e-5'
}

process {
    withName:blastn {
        container = 'ncbi/blast:latest'
    }

    withName:megablast {
        container = 'ncbi/blast:latest'
    }
}

docker {
    enabled = true
}