params {
    //if you want to skip the step, swith the proper variable below to 'true'
    skip_qc=false
    skip_preprocess=false
    skip_remove_host=false
    skip_map=false
    skip_classify_taxonomy=false
    skip_assemble=false
    skip_polish=false
    skip_blast=false
    do_zoonotic_rank=true

    //remove_host
    host_genome=null

    //map
    ref=null
    dir_ref=null

    //assemble
    spades_options='--meta'
    flye_options='--meta'
    megahit_options=''
    canu_options='genomeSize=5m minReadLength=300 minOverlapLength=50 maxThreads=12 minInputCoverage=0 stopOnLowCoverage=0 corOutCoverage=10000 corMhapSensitivity=high corMinCoverage=0 redMemory=32 oeaMemory=32 batMemory=200 useGrid=false'

    //polish
    medaka_model='r941_min_high_g303'
}

process {
    conda='/opt/conda/envs/virpipe'

    withName:zoonotic_rank_run {
        conda = '/opt/conda/envs/zoonotic_rank'
    }

    withName:centrifuge {
        conda = '/opt/conda/envs/virpipe_centrifuge'
    }
}

conda {
    enabled=true
}