params {
    //global
    threads=12

    //if you want to skip the step, swith the proper variable below to 'true'
    skip_qc=false
    skip_filter_read=false
    skip_host_genome=false
    skip_map=false
    skip_tax_classify=false
    skip_assembly=false
    skip_blast=false
    skip_zoonosis=false

    //filter_reads
    saveFiltered=true

    illumina_min_read_quality=8
    nanopore_min_read_length=200
    nanopore_min_read_quality=8

    //filter_host
    saveHostFiltered=true
    host_genome = null

    //map
    saveBam=false
    ref = null
    file_ref = null
    dir_ref="$VP_DB/references"

    //filter_map
    min_map_out_avg_dep=1.0

    //taxonomic classificaiton
    kraken2_db="$VP_DB/kraken2"

    kraken2_confidence_threshold=0.1

    //assembly
    spades_meta=true
    flye_meta=true
    canu_options='genomeSize=5m minReadLength=300 minOverlapLength=50 maxThreads=12 minInputCoverage=0 stopOnLowCoverage=0 corOutCoverage=10000 corMhapSensitivity=high corMinCoverage=0 redMemory=32 oeaMemory=32 batMemory=200 useGrid=false'

    //filter_contigs
    min_contig_length=600

    //polish
    medaka_model='r941_min_high_g303'

    //blast
    blast_db_dir="$VP_DB/blast"
    blast_db_name="viruses"

    min_evalue='1.0e-5'

    //filter_blast
    min_blast_aln_len=100

    //report_blast
    taxonomizr_db="$VP_DB/taxonomizr/accessionTaxa.sql"
}

process {
    //qc

    withName:fastqc {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    
    withName:multiqc {
        container = 'ewels/multiqc:latest'
    }

    withName:nanoplot {
        container = 'nanozoo/nanoplot:latest'
    }

    //filter_reads

    withName:filter_illumina {
        container = 'dceoy/prinseq:latest'
    }

    withName:trim_illumina {
        container = 'staphb/trimmomatic:latest'
    }

    withName:filter_nanopore {
        container = 'mcfonsecalab/nanofilt:latest'
    }

    //filter_host

    withName:host_map_pair {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:host_map_single {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:extract_not_mapped_reads_pair {
        container = 'staphb/bedtools:latest'
    }

    withName:extract_not_mapped_reads_single {
        container = 'staphb/samtools:latest'
    }

    //map
    
    withName:map_pair {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }
    
    withName:map_single {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:bamcov {
        container = 'skkujin/bamcov:latest'
    }

    withName:qualimap {
        container = 'pegi3s/qualimap:latest'
    }

    //filter_map
    
    withName:filter_map_process {
        container = 'skkujin/dplyr:latest'
    }

    //taxonomic classification

    withName:kraken2_pair {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2_single {
        container = 'staphb/kraken2:latest'
    }

    withName:kraken2krona {
        container = 'skkujin/krakentools:v1.2'
    }

    withName:kreport2list {
        container = 'skkujin/convert_krakenrep2list:latest'
    }

    withName:metacomp {
        container = 'skkujin/metacomp:latest'
    }
    
    withName:krona {
        container = 'nanozoo/krona:latest'
    }

    //assembly

    withName:spades {
        container = 'staphb/spades:latest'
    }

    withName:megahit {
        container = 'vout/megahit:latest'
    }

    withName:canu {
        container = 'biocontainers/canu:v1.8dfsg-2-deb_cv1'
    }

    withName:flye {
        container = 'staphb/flye:latest'
    }

    //filter_contigs
    withName:length_filter_contigs {
        container = 'nanozoo/bbmap:38.86--9ebcbfa'
    }

    //polish

    withName:ava_map {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:racon {
        container = 'staphb/racon:latest'
    }

    withName:medaka{
        container = 'nanozoo/medaka:latest'
    }

    //blast

    withName:blastn {
        container = 'ncbi/blast:latest'
    }

    withName:megablast {
        container = 'ncbi/blast:latest'
    }
    
    //filter_blast

    withName:filter_blast_process {
        container = 'skkujin/dplyr:latest'
    }
    
    //zoonosis

    withName:prodigal {
        container = 'nanozoo/prodigal:latest'
    }

    withName:prodigal_sco_to_zoonotic_rank_metadata {
        container = 'skkujin/prodigal_sco_to_zoonotic_rank_metadata:latest'
    }

    withName:zoonotic_rank_run {
        container = 'skkujin/zoonotic_rank:latest'
    }

    //report_blast

    withName:match_taxonomy_process {
        container = 'skkujin/taxonomizr:latest'
    }
}

docker {
    enabled = true
}
