params {
    threads=12

    spades_meta=true
    flye_meta=true
    canu_options='genomeSize=5m minReadLength=300 minOverlapLength=50 maxThreads=12 minInputCoverage=0 stopOnLowCoverage=0 corOutCoverage=10000 corMhapSensitivity=high corMinCoverage=0 redMemory=32 oeaMemory=32 batMemory=200 useGrid=false'
}

process {
    withName:spades {
        container = 'staphb/spades:latest'
    }

    withName:megahit {
        container = 'vout/megahit:latest'
    }

    withName:canu {
        container = 'biocontainers/canu:v1.8dfsg-2-deb_cv1'
    }

    withName:flye {
        container = 'staphb/flye:latest'
    }
}

docker {
    enabled = true
}