params {
    threads=12

    medaka_model='r941_min_high_g303'
}

process {
    withName:ava_map {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:racon {
        container = 'staphb/racon:latest'
    }

    withName:medaka {
        container = 'nanozoo/medaka:latest'
    }
}

docker {
    enabled = true
}