params {
    saveHostFiltered = true
    host_genome = null
}

process {

    withName:host_map_pair {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:host_map_single {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:extract_not_mapped_reads_pair {
        container = 'staphb/bedtools:latest'
    }

    withName:extract_not_mapped_reads_single {
        container = 'staphb/samtools:latest'
    }
}

docker {
    enabled = true
}