params {
    saveBam=false
    ref=null
    file_ref=null
    dir_ref="$VP_DB/references"
}

process {
    withName:map_pair {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }
    
    withName:map_single {
        container = 'nanozoo/minimap2:2.22--b178b67'
    }

    withName:bamcov {
        container = 'skkujin/bamcov:latest'
    }

    withName:qualimap {
        container = 'pegi3s/qualimap:latest'
    }
}

docker {
    enabled = true
}
