process {
    withName:prodigal {
        container = 'nanozoo/prodigal:latest'
    }

    withName:prodigal_sco_to_zoonotic_rank_metadata {
        container = 'skkujin/prodigal_sco_to_zoonotic_rank_metadata:latest'
    }

    withName:zoonotic_rank_run {
        container = 'skkujin/zoonotic_rank:latest'
    }
}

docker {
    enabled = true
}

