params {
    //global
    threads=12

    //blast
    blast_db_dir="$VP_DB/blast/refseq-viral"
    blast_db_name="refseq-viral"
    min_evalue='1.0e-5'

    //filter_blast
    min_blast_aln_len=100
    min_blast_aln_frac=0.5    

    //report_blast
    taxonomizr_db="$VP_DB/taxonomizr/accessionTaxa.sql"
}

process {
    //blast

    withName:blastn {
        container = 'ncbi/blast:latest'
    }

    withName:megablast {
        container = 'ncbi/blast:latest'
    }
    
    //filter_blast

    withName:filter_blast {
        container = 'skkujin/dplyr:latest'
    }

    //zoonosis

    withName:prodigal {
        container = 'nanozoo/prodigal:latest'
    }

    withName:prodigal_sco_to_zoonotic_rank_metadata {
        container = 'skkujin/prodigal_sco_to_zoonotic_rank_metadata:latest'
    }

    withName:zoonotic_rank_run {
        container = 'skkujin/zoonotic_rank:latest'
    }

    //report_blast
    
    withName:match_taxonomy_process {
        container = 'skkujin/taxonomizr:latest'
    }
}

docker {
    enabled = true
}