params {
    saveFiltered=true

    illumina_min_read_quality=8
    nanopore_min_read_length=200
    nanopore_min_read_quality=8
}


process {
    withName:filter_illumina {
        container = 'dceoy/prinseq:latest'
    }

    withName:trim_illumina {
        container = 'staphb/trimmomatic:latest'
    }

    withName:filter_nanopore {
        container = 'mcfonsecalab/nanofilt:latest'
    }
}


docker {
    enabled = true
}